/*!*body*!*/
/*!*{*!*/
/*!*    !*background: #008b8b;*!*!*/
/*!*    !*padding-top: 5em;*!*!*/
/*!*    display: flex;*!*/
/*!*    height: 200px;*!*/
/*}*/

.typewriter h2
{
    color: #faebd7;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #99ffdd;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 4s steps(30, end),
            blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to { border-color: cornsilk}
    50% { border-color: #fff8dc}
}